.Rproj.user
.Rhistory
.RData
.Ruserdata

# PNG files 2024
2024/2024-01-02_BringYour Own/san-jose-sharks-logo.png
2024/2024-01-09_NHLBirthdays/NHL_Logo.png
2024/2024-03-05_MrTrash/MrTrash.png
2024/2024-08-06_Olympics/olympicrings.png
2024/2024-10-22_CIA/world_factbook.png
2024/2024-10-22_CIA/.ipynb_checkpoints/2024-10-22_TidyTuesday-checkpoint.ipynb